
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
 	
 	<annotation-driven /> 
    
 	<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" 	value="org.postgresql.Driver" />
        <beans:property name="url"	           	value="jdbc:postgresql://localhost:5432/seidor_db" />
        <beans:property name="username" 		value="seidor_user" />
        <beans:property name="password" 		value="seidor_user" />
    </beans:bean>
    
    <!-- Hibernate 4 SessionFactory Bean definition -->
    <beans:bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource" />
        <beans:property name="packagesToScan" value="com.seidor.test.model" />
        <beans:property name="hibernateProperties">
            <beans:props>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
            </beans:props>
        </beans:property>
    </beans:bean>

    <beans:bean id="clientesDAO" class="com.seidor.test.dao.ClientesDAOImpl">
        <beans:property name="sessionFactory" ref="sessionFactory" />
    </beans:bean>
    
    <beans:bean id="clientesService" class="com.seidor.test.service.ClientesServiceImpl">
        <beans:property name="clientesDAO" ref="clientesDAO"></beans:property>
    </beans:bean>
    
    <beans:bean id="directorioDAO" class="com.seidor.test.dao.DirectorioDAOImpl">
        <beans:property name="sessionFactory" ref="sessionFactory" />
    </beans:bean>
    
    <beans:bean id="directorioService" class="com.seidor.test.service.DirectorioServiceImpl">
        <beans:property name="directorioDAO" ref="directorioDAO"></beans:property>
    </beans:bean>
    
    <beans:bean id="distribuidoresDAO" class="com.seidor.test.dao.DistribuidoresDAOImpl">
        <beans:property name="sessionFactory" ref="sessionFactory" />
    </beans:bean>
    
    <beans:bean id="distribuidoresService" class="com.seidor.test.service.DistribuidoresServiceImpl">
        <beans:property name="distribuidoresDAO" ref="distribuidoresDAO"></beans:property>
    </beans:bean>
    
    <beans:bean id="productosDAO" class="com.seidor.test.dao.ProductosDAOImpl">
        <beans:property name="sessionFactory" ref="sessionFactory" />
    </beans:bean>
    
    <beans:bean id="productosService" class="com.seidor.test.service.ProductosServiceImpl">
        <beans:property name="productosDAO" ref="productosDAO"></beans:property>
    </beans:bean>
    
    <beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <beans:property name="sessionFactory" ref="sessionFactory" />
    </beans:bean>
    
    <context:component-scan base-package="com.seidor.test" />
    <tx:annotation-driven transaction-manager="transactionManager"/>
    

    
</beans:beans>
